USE [master]
GO
/****** Object:  Database [passwordManager]    Script Date: 19/06/2023 14:23:49 ******/
CREATE DATABASE [passwordManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'passwordManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\passwordManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'passwordManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\passwordManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [passwordManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [passwordManager]
GO
/****** Object:  Table [dbo].[keys]    Script Date: 19/06/2023 14:23:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[keys](
	[user] [nchar](20) NOT NULL,
	[service] [nvarchar](50) NOT NULL,
	[crypt_key] [nvarchar](200) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[passwords]    Script Date: 19/06/2023 14:23:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[passwords](
	[user] [nchar](50) NOT NULL,
	[password] [nvarchar](200) NOT NULL,
	[service] [nvarchar](200) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 19/06/2023 14:23:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user] [nchar](50) NOT NULL,
	[salt] [nvarchar](200) NOT NULL,
	[password] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
