<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Manager</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
	<div>
    <h1>Add Password {{ name }}</h1>
    <form method="post" action="/AddPassword/{{ name }}">
      <div id="namediv">
        <label for="password">Password: </label>
        <input id="password" name="password" type="text" required />
      </div>
      <div id="passdiv">
        <label for="service">Service: </label>
        <input id="userName" name="service" type="text" required />
      </div>
      <input style="background-color: rgb(57, 194, 137);" id="button" type="submit" value="Add" />
    </form>
  </div>
  </body>
</html>