<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Manager</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div>
      <h1 >Profile: {{ name }}</h1>
      <form method="post" action="/test/{{ name }}">
        <input style="background-color: rgb(138, 228, 87);" id="button" type="submit" value="Add a password" />
      </form>
      <form method="post" action="/ViewPassword/{{ name }}">
        <input style="background-color: rgb(110, 118, 231);" id="button" type="submit" value="View passwords" />
      </form>
    </div>
  </body>
</html>