
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Manager</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
	<script src="index.js"></script>
    <div>
      <h1>Register</h1>
      <form method="post" action="/register">
        <div id="namediv">
          <label id="name" for="userName">User name: </label>
          <input id="userName" name="userName" type="text" required />
        </div>
        <div id="passdiv">
          <label id="pass" for="password">Password: </label>
          <input id="password" name="password" type="text" required />
        </div>
          <input style="background-color: rgb(219, 85, 112);" id="button" type="submit" value="Register" />
          <h3 id="register"><a href="/">Login</a></h3>
      </form>
    </div>
  </body>
</html>