<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Manager</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
	<script src="index.js"></script>
  <h1>Your passwords {{ name }}</h1>
      <!-- For loop logic of jinja template -->
      {%for x, y in printPasswords.items()%}
        
          <p>{{ "{}: {}".format(x, y) }}</p>
      {%endfor%}
    <form method="post" action="/test/{{ name }}">
      <input type="submit" value="Add a password" />
    </form>
    <form method="post" action="/profile/{{ name }}">
      <input type="submit" value="Profile" />
    </form>
  </body>
</html>