<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Manager</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
	<div id="list">
    <h1>Passwords for {{ name }}</h1>
        <!-- For loop logic of jinja template -->
        {%for x, y in printPasswords.items()%}
            <p style="width: 400px;">{{ "{}: {}".format(x, y) }}</p>
            <form method="post" action="/delete/{{ name }}/{{ x }}">
              <input id="button1" type="submit" value="Delete" />
            </form>
            <form method="post" action="/Modify/{{ name }}/{{ x }}/{{ y }}">
              <input id="button2" type="submit" value="Modify" />
            </form>
        {%endfor%}
      <form method="post" action="/Add/{{ name }}">
        <input style="background-color: rgb(193, 137, 238);" id="button" type="submit" value="Add a password" />
      </form>
      <form method="post" action="/profile/{{ name }}">
        <input style="background-color: rgb(226, 100, 216);" id="button" type="submit" value="Profile" />
      </form>
  </div>
  </body>
</html>